/.libs
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libdvdcss.la
/libdvdcss.spec
/libdvdcss*.tar.*
/libtool
/ltmain.sh
/missing
/stamp-*
/doc/doxygen.cfg
/doc/doxygen_sqlite3.db
/doc/html
/m4/libtool.m4
/m4/lt*.m4
/src/*.lo
/src/*.o
/src/.deps
/src/.dirstamp
/src/.libs
/src/libdvdcss.pc
/test/*.exe
/test/*.o
/test/.deps
/test/.dirstamp
/test/.libs
/test/csstest
/test/dvd_region
